.venv/
.vscode/
*.pt
*.pyc
auto_outputs/
auto_outputs_npy/
wandb/
latent-diffusion/
run_autoedit.sh.cog/
outputs/
output_npy/
mask.png
artistic_prompts*.json
aesthetic-predictor/
models/
prompts_emoji.json
src/
dist/
guided_diffusion.egg-info/
textual.onnx
visual.onnx
*.sh
.cog/
saved/
autoedit_outputs*